
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(assets/images/mentor-glow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

    


.navbar-custom .navbar-nav .nav-link:hover {
    color: blue !important; 
}


.btn{
    background: #744FFE !important;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px !important;
}



@media (max-width: 991.98px) {
    .navbar-nav {
      align-items: flex-start; 
    }
  
    .navbar-nav .nav-item {
      width: 100%;
      border-bottom: 1px solid #ddd;
      padding: 5px 0;
      text-align: left;
    }
  }

.container1{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.blue-text{
    color: #744FFE;
    font-weight: 600; 
    font-size: 45px;
}


.black-text{
    font-weight: 600; 
    font-size: 45px;
}

.para1{
    margin-top:20px;
}

.btn2{
    background: #744FFE !important;
    color: white;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px !important;
    transition: background-color 0.3s ease;
}
.btn3{
    border: 1px solid #cbd5e1;
    background: white;
    color: #334155;
    margin: 25px 0px 0px 8px;
    padding: 12px 25px;
    border-radius: 4px !important;
    transition: background-color 0.3s ease;
}

.btn2:hover{
    color:#FFF !important;
    background-color: #6343d8 !important; 
}

.btn3:hover{
    background-color: #F1F5F9 !important;
   
}

.img-fluid {
    margin-bottom: 150px;
}

.span1{
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    padding: 4px;
    font-size: small;
    font-weight: 600;
}


.containerfooter{
    background: #0f172a;
}

.payspan {
    display: inline-block;
    margin-top: 100px;
    font-size: small;
    color: #94a3b8;
    border: 1px solid #cbd5e1;
    border-radius: 25px;
    padding: 6px 20px;
}

.containerfooter h1{
    color: white;
}


.containerfooter h5{
    color: #334155;

}

.footerbtn{
    background: #754FFE;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.candyclr{
    color: #754ffe;
}

.socials{
    color:  #334155;
}

.fixedbtn{
    position: fixed;
    bottom: 0;
    right: 0;
    background: #744FFE !important;
    color: white;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px !important;
    margin-bottom: 30px;
    margin-right: 20px;
    
}
.socials p {
    transition: color 0.3s ease-in-out; /* Smooth transition */
}

.socials p:hover {
    color: #744FFE; /* Change text color to blue on hover */
    cursor: pointer; /* Optional: changes cursor to indicate interactivity */
}




